blinker
certifi
charset-normalizer
click
colorama
et-xmlfile
Flask
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
numpy
openpyxl
packaging
pandas
protobuf
pya3
python-dateutil
pytz
rel
requests
six
tzdata
urllib3
websocket-client
Werkzeug
